* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #848484;
    font-weight: 200
}

body {
    margin: 0;
    background: #3f0051;
}

h1 {
  color: #FFF;
  font-size: 27px;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  margin-bottom: 33px;
  font-weight: 400;
}

h2 {
    font-size: 30px;
    color: #fff;
}

h3 {
    color: #b8b8b8;
    font-size: 18px;
}

h4 {
    color: #fff;
    font-size: 16px
}

p {
    color: #7c7c7c
}

a {
    color: #ffffff;
    font-weight: 700;
    padding: 10px;
    text-decoration: none;
}

b {
    font-weight: 600;
}

hr {
  display: block;
  margin: 16px auto 1px auto;
  background: #655151;
  height: 1px;
  border: 0;
}

main {
    text-align: center;
    padding: 30px;
}

.box {
    background-color: #380f0f14;
    width: 50%;
    margin: 0 auto;
    font-style: italic;
    color: #eee;
}

.form {
    background: #31003e;
    margin: 0 auto;
    padding: 9px;
    width: 50%;
    display: flex;
}

.form button {
    background: #9d0000;
    border: 0px;
    padding: 5px;
    width: 40%;
    color: #fff;
    font-weight: 500;
}

.form input {
    background: #fff;
    border: 0px;
    padding: 5px;
    width: 60%;
    font-weight: 500;
}
